/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset e configurações básicas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

body {
    background: #4E342E;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #d7ccc8d7;
}

ul {
    list-style: none;
}

/* Estilização do header e navegação */
nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 600;
    color: #D7CCC8;
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.menu a:hover {
    color: #FFB74D;
}


.github {
    color: #D7CCC8;
    font-weight: 600;
}

/* Estilização do footer */
footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #37474F;
}

.copy {
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    color: #D7CCC8;
}

.footer-author {
    font-family: Poppins;
    font-size: 0.8rem;
    font-weight: 500;
    color: #D7CCC8;
}

/* Classes reutilizáveis */
.destaque {
    font-family: Merriweather;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.dourado {
    color: #FFB74D;
}

button {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #FFB74D;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: #FFA726;
    transform: scale(1.1);
}