/*

#4E342E Marrom Escuro BACKGROUND

#D7CCC8 Bege Claro TEXTO LINKS NAV

#A5D6A7 Verde Menta 

#37474F Cinza Escuro BACKGROUND HERO

#FFB74D Dourado Suave DESTAQUES BOTOES ICONES

*/

@import "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

body {
    background: #4E342E;
    color: #FFFFFF;

}

a {
    text-decoration: none;
    color: #d7ccc8d7;
}

ul {
    list-style: none;
}



nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 600;
    color: #D7CCC8;
    text-transform: uppercase;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.github{
    color: #D7CCC8;
    font-weight: 600;
}

main{
    display: flex;
    flex-direction: column;
}

.principal{
    background-color: #37474f8b;
}

.hero{
    max-width: 1120px;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    padding: 0rem 2rem;
    margin: auto;
    overflow: clip;
}

.hero-conteudo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.destaque{
    font-family: Merriweather;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.dourado{
    color: #ffb74d;
}

h1{
    font-family: Playfair Display;
    font-size: 3.5rem;
    font-weight: 800;
}

hr{
    border-color: #ffb84d9a;
}

.hero-subtitulo{
    font-family: Merriweather;
    font-size: 1.5rem;
    font-weight: 500;
}

.hero-imagens-conteiner{
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;
}

.hero-imagens-conteiner > figure > img {
    width: 100%;
    border-radius: 0.5rem;
}

.botao-conteiner{
    width: 100%;
    max-width: 1120px;
    margin: auto;
    transform: translate("0, -50%");
}

button{
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #FFB74D;
}

.receitas{
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
}

.receitas-cabecalho{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-titulo{
    font-family: Playfair Displa;
    font-size: 2rem;
    font-weight: 700;
}

.receitas-subtitulo{
    font-family: Merriweather;
    font-size: 1rem;
    font-weight: 400;
}

.receitas-card-conteiner{
    padding: 0rem 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.receitas-card{
    background: #a5d6a77e;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
}

.receitas-card-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.receitas-card-cabecalho-detalhes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-autor{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.receitas-autor > img {
    border-radius: 20rem;
    width: 1.5rem;
}

.receitas-autor-nome{
    font-family: Lora;
    font-size: 1rem;
    font-weight: 600;
}

footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #37474F;
}

.copy{
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    color: #D7CCC8;
}

.footer-author{
    font-family: Poppins;
    font-size: 0.8rem;
    font-weight: 500;
    color: #D7CCC8;
}